<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Товары</title>
</head>
<body>

<header>
	<h1>Магазин</h1>
	<div>
		{% if user.is_authenticated %}
			<span>{{ user.username }}</span>
			<a href="/logout/" class="button">Выйти</a>
		{% else %}
			<a href="/login/" class="button">Войти</a>
			<a href="/register/" class="button">Регистрация</a>
		{% endif %}
	</div>
</header>

    <h1>Список товаров</h1>

    {% for product in products %}
        <div>
            <h2>{{ product.name }}</h2>
            <p>Цена: {{ product.price }}</p>
            <p>{{ product.description }}</p>
			<a href="/main/product/{{ product.pk }}/">Подробнее / Комментарии</a>
        </div>
    {% endfor %}

</body>
</html>